
.launch-page {
    background-color: var(--cont-black);
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.contLogo img {
    width: 200px;
}

.contLogo code {
    color: rgb(153, 156, 168) !important;
}

.card {
    background-color: rgb(39, 39, 39);
    color: var(--cont-white);
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--cont-text-font);
    font-weight: normal;
    font-style: normal;
    margin-top: 10px;
    width: 50%;
}

.card-body {
    display: flex;
    flex-direction: row;
    padding-right: 2px;
}

.card-text {
    padding-right: 30px;
}

.card-text p {
    font-size: smaller;
    color: rgb(153, 156, 168) !important;
}

.card-button {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    justify-content: center;
    gap: 10px;
}

.CreateBtn {
    background-color: var(--cont-light-blue);
    border-radius: 15px;
    padding: 10px;
    color: white;
}

.CreateBtn:hover {
    background-color: #65abd1;
}

.LoadBtn {
    background-color: var(--cont-light-blue);
    border-radius: 15px;
    padding: 10px;
    color: white;
}

.LoadBtn:hover {
    background-color: #65abd1;
}

.DeleteBtn {
    background-color: var(--cont-orange);
    border-radius: 15px;
    padding: 7px;
    color: white;
    margin:2px;
}

.DeleteBtn:hover {
    background-color: #f74444;
}

.progNameInput {
    margin-bottom: 5px;
    padding:2px
}