
/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .im-fell-english-sc-regular {
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
} */

:root {
  /* Brand colors */
    --cont-orange: #ffab49;
    --cont-grey: #e5e5e5;
    --cont-light-blue: #5799bc;
    --cont-mid-blue: #165085;
    --cont-white: #ffffff;
    --cont-black: #000000;

    --cont-text-font: "Montserrat", sans-serif;
    --cont-title-font: "IM Fell English SC", serif;

    --sidebar-width: 240px;
    --sidebar-width-collapsed: 100px;
}

body {
  margin: 0;
  min-height: 100vh;
  user-select: none;
  color: var(--cont-white);
  background-color: var(--cont-black);
}

@media (max-width: 720px) {

}

@media (max-width: 620px) {

}

@media (max-width: 350px) {

}

