/* brand colors */
/* $cont-orange: #ffab49;
$cont-grey: #e5e5e5;
$cont-Lblue: #5799bc;
$cont-Mblue: #165085;
$cont-white: #FFFFFF;
$cont-black: #000000; */

/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  background-color: rgb(0, 0, 0);
  color: white;
}

@media (max-width: 720px) {

}

@media (max-width: 620px) {

}

@media (max-width: 350px) {

}

.contLogo img {
  width: 200px;
}
.contLogo code {
  color: rgb(153, 156, 168) !important;
}
.card {
  background-color: rgb(39, 39, 39);
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-top: 10px;
}
.card-body {
  display: flex;
  flex-direction: row;
  padding-right: 2px;
}
.card-text {
  padding-right: 30px;
}
.card-text p {
  font-size: smaller;
  color: rgb(153, 156, 168) !important;
}
.card-button {
  align-content: center;
}
.CreateBtn {
  background-color: #5799bc;
  border-radius: 15px;
  padding: 10px;
  color: white;
}
.CreateBtn:hover{
  background-color: #65abd1;
}

/* .LoadBtn {
  border: solid #5799bc;
  border-radius: 15px;
  padding: 10px;
} */