
/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

#root {
  /* Brand colors */
    --cont-orange: #ffab49;
    --cont-grey: #e5e5e5;
    --cont-light-blue: #5799bc;
    --cont-mid-blue: #165085;
    --cont-white: #ffffff;
    --cont-black: #000000;

    --cont-text-font: "Montserrat", sans-serif;

    --sidebar-width: 280px;
    --sidebar-width-collapsed: 80px;
}

body {
  overflow: hidden;
  user-select: none;
  color: var(--cont-white);
}

@media (max-width: 720px) {

}

@media (max-width: 620px) {

}

@media (max-width: 350px) {

}

