.project-layout {
    min-height: 100vh;
    background-color: #171717;
    font-family: var(--cont-text-font);
}

/* DASHBOARD */

.cont-dashboard {
    overflow-x: hidden;
    margin: 2px;
    background-color: #171717;
    min-height: 100vh;
}

.hero-container {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    border-radius: 15px;
}
.hero-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-overlay h1 {
    font-size: 4rem;
    position: relative;
    color: white;
    font-weight: 400;
    font-style: normal;
    font-family: var(--cont-title-font);
    text-align: center;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 0.7),
        0 0 10px var(--cont-mid-blue),
        0 0 20px var(--cont-light-blue);
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}








/* Sidebar */
.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--cont-black);
    color: var(--cont-white);
}

.sidebar.collapsed {
    width: var(--sidebar-width-collapsed);
}


.sidebar-logo {
    width: 140px;
    transition: opacity 0.3s ease;
    margin-left: 10px;
}

.toggle-btn {
    align-items: center;
    background-color: var(--cont-light-blue);
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    height: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    transition: transform 0.3s ease, background-color 0.2s ease;
    right: -15px;
    width: 30px;
    z-index: 101;
}

.toggle-btn:hover {
    background-color: var(--cont-light-blue);
}
.sidebar-link {
    align-items: center;
    background: none;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    color: #a0a3bd;
    cursor: pointer;
    display: flex;
    gap: 10px;
    margin: 4px 16px;
    padding: 8px;
    overflow: hidden;
    text-align: left;
    transition: all 0.2s ease;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;
    text-decoration: none;
    font-family: var(--cont-text-font);
}

.sidebar-link:hover {
    color: var(--cont-white);
    background: rgba(255, 255, 255, 0.1);
    transform: translateX(5px);
    cursor: pointer;
    width: 80%;
}
.sidebar-link.active {
    color: var(--cont-white);
    background: rgba(255, 255, 255, 0.1);
    width: 80%;
}
.sidebar-link.active .sidebar-icon {
    color: var(--cont-orange)
}

/* collapsed */
.sidebar.collapsed .sidebar-link {
    justify-content: center;
    text-align: center;
    padding: 1rem !important;
    margin: 4px 8px;
}

.sidebar.collapsed .sidebar-link .sidebar-icon {
    margin: 0 !important;
    font-size: 20px;
}

.collapsed .hide-on-collapse {
    display: none;
}

.collapsed .sidebar-logo {
    opacity: 0;
}

/*makes sure page content shows up behind menu */
.project-content {
    padding: 20px 30px 0px 60px;
    margin: 0px 30px 0px 60px;
}
.sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
    z-index: 40;
    transition: opacity 0.25s ease;
}




/* Segment upload */
.segmentUpload {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    align-self: stretch;
    background-color: #16181f;
}

.segmentUpload label {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-family: var(--cont-text-font);
    font-size: x-large;
    text-shadow:1px 1px 1px #65abd1;
    padding: 10px 0px;
}

textarea {
    width: 100%;
    min-height: 200px;
    resize: vertical;
    line-height: 1.5;
    padding: 0.75rem;
    font-family: var(--cont-text-font);
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}
.form-footer .characterLength {
    font-family: var(--cont-text-font);
    font-size: smaller;
    color: rgb(153, 156, 168);
}
.form-footer button {
    background-color: var(--cont-light-blue);
    border-radius: 10px;
    padding: 5px 5px;
    font-family: var(--cont-text-font);
    color: white;
    margin: 5px 0px;
}
.form-footer button:disabled {
    background-color: var(--cont-mid-blue);
    color: rgb(153, 156, 168);
}
.form-footer button:not(:disabled):hover {
    background-color: var(--cont-light-blue);
    cursor: pointer;
}

/* Story Segment page card accordion */
.segment-card {
    border-radius: 8px;
    margin-bottom: 12px;
    overflow: hidden;
    width: 90%;
}

.segment-card-header {
    background: var(--cont-light-blue);
    padding: 12px;
}

.segment-card-body {
    padding: 12px;
    background-color: var(--cont-mid-blue);
}

.accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-body.open {
    max-height: 300px;
    padding: 12px;
    background: #7e0202;
    border-top: 1px solid #ddd;
}


/* Entity cards */
.entity-card {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 12px;
}

.fact-list {
    list-style: disc;
    margin-left: 20px;
    padding-left: 0;
}

.fact-actions button {
    margin-left: 8px;
    font-size: 0.85rem;
    font-family: var(--cont-text-font);
    color: white;
    background-color: var(--cont-light-blue);
    border-radius: 10px;
}

.fact-actions button:disabled {
    background-color: var(--cont-mid-blue);
    color: rgb(153, 156, 168);
}

.fact-actions button:not(:disabled):hover {
    background-color: var(--cont-light-blue);
    cursor: pointer;
}
